<div *screenSmall class="titleBar-small">
   <span class="glyphicon glyphicon-menu-hamburger"></span>
   <div class="small-image-holder">
      <img class="small-image" src="assets/NorthSmithfieldLogo6.jpg" alt="North Smithfield">
   </div>
   <span class="glyphicon glyphicon-option-vertical"></span>
</div>


<div *screenLarge class="titleBar-large">
   <img src="assets/NorthSmithfieldLogo6.jpg" alt="North Smithfield">
   <div class="menuArea">
      <framework-topbar></framework-topbar>  
      <framework-menu *ngIf="menuService.isVertical===false"></framework-menu>
   </div>
</div>