<nav>
  <ul>
    <li *ngFor="let item of menuService.items">
       <framework-menuItem [item]="item"
                           [ngClass]="{'vertical-menu': menuService.isVertical}">
       </framework-menuItem>
    </li>
  </ul>
</nav>

<button *ngIf="!menuService.showMobileMenu"
        class="btn btn-sm"
        [ngClass]="{'horizontal': !menuService.isVertical}"
        (click)="menuService.toggleMenuOrientation()">
    <span *ngIf="menuService.isVertical" class="glyphicon glyphicon-menu-up"></span>    
    <span *ngIf="!menuService.isVertical" class="glyphicon glyphicon-menu-left"></span>    

</button>